
.icon-respeto:before { content: '\e800'; } /* '' */
.icon-mision:before { content: '\e801'; } /* '' */
.icon-estudio:before { content: '\e802'; } /* '' */
.icon-excelencia:before { content: '\e803'; } /* '' */
.icon-solidarida:before { content: '\f299'; } /* '' */